Repository rothnic/opencode-teams: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format, type-check

lefthook.yml:

# Lefthook configuration for pre-commit hooks
# See: https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts}"
      run: mise run lint:fix
      stage_fixed: true
    
    format:
      glob: "*.{js,ts,json,md}"
      run: mise run format
      stage_fixed: true
    
    type-check:
      glob: "*.ts"
      run: mise run typecheck
      
pre-push:
  parallel: false
  commands:
    test:
      run: mise run test
    
    build:
      run: mise run build

feat: ralph-tui-us001 - US-001: Centralized State Management & Concurrency
  .beads/.local_version
  .beads/beads.db
  .beads/beads.db-shm
  .beads/beads.db-wal
  .beads/daemon-error
  .beads/daemon.lock
  .beads/interactions.jsonl
  .beads/issues.jsonl
  .beads/last-touched
  .beads/metadata.json
  .beads/test
  .gitignore
  .ntm/human_inbox/2026-02-07_20-05-29_agent_crashed.md
  .ntm/human_inbox/2026-02-07_20-05-39_agent_crashed.md
  .ntm/human_inbox/2026-02-07_20-05-59_agent_crashed.md
  .ntm/pids/bd-opencode-teams.pid
  .ntm/pids/cm-opencode-teams.pid
  .ralph-tui/config.toml
  .ralph-tui/progress.md
  .ralph-tui/ralph.lock
  .ralph-tui/session-meta.json
  .ralph-tui/session.json
  opencode.json
  tasks/prd-product-requirements-document-opencode-teams-plugin-v10.md
Due: format

feat: implement poll_inbox and fix JSON persistence
  .beads/bd.sock.startlock
  .beads/beads.db
  .beads/beads.db-shm
  .beads/beads.db-wal
  .beads/daemon.lock
  .beads/issues.jsonl
  .beads/last-touched
  .ralph-tui/progress.md
  .ralph-tui/ralph.lock
  .ralph-tui/session-meta.json
  .ralph-tui/session.json
  bun.lock
  lefthook.yml
  package.json
  src/index.ts
  src/operations/team.ts
  src/tools/index.ts
  src/tools/spawn-team.ts
  src/utils/index.ts
  tests/poll-inbox.test.ts
  tests/task-operations.test.ts
  tests/team-operations.test.ts
  tests/utils.test.ts
Due: lint, format, type-check

feat: ralph-tui-us002 - US-002: Inbox Protocol & Long-Polling
  .beads/bd.sock.startlock
  .beads/beads.db
  .beads/beads.db-shm
  .beads/beads.db-wal
  .beads/daemon.lock
  .beads/issues.jsonl
  .beads/last-touched
  .beads/metadata.json
  .ntm/human_inbox/2026-02-07_20-05-29_agent_crashed.md
  .ntm/human_inbox/2026-02-07_20-05-39_agent_crashed.md
  .ntm/human_inbox/2026-02-07_20-05-59_agent_crashed.md
  .prettierrc
  .ralph-tui/session.json
  .release-please-manifest.json
  AGENTS.md
  README.md
  agent/task-manager/AGENT.md
  agent/team-leader/AGENT.md
  agent/team-member/AGENT.md
  docs/ARCHITECTURE.md
  docs/DEVELOPMENT.md
  docs/INSTALL.md
  docs/OPENCODE-INTEGRATION-PLAN.md
  docs/QUICKSTART.md
  docs/RESEARCH.md
  docs/SUMMARY.md
  examples/code-review-team.md
  examples/deployment-team.md
  examples/opencode-config-example.json
  examples/refactoring-team.md
  skills/team-coordination/SKILL.md
  tasks/prd-product-requirements-document-opencode-teams-plugin-v10.md
  tsconfig.json
  workflows/README.md
  workflows/code-review.md
Due: format

feat: implement task system with dependency tracking (US-003)
  .beads/beads.db
  .beads/beads.db-shm
  .beads/beads.db-wal
  .beads/daemon.lock
  .beads/issues.jsonl
  .beads/last-touched
  .ralph-tui/progress.md
  .ralph-tui/session-meta.json
  .ralph-tui/session.json
  src/operations/task.ts
  src/types/index.ts
  tests/task-operations.test.ts
Due: lint, format, type-check

feat: ralph-tui-us003 - US-003: Task System with Dependency Tracking
  .beads/beads.db
  .beads/beads.db-shm
  .beads/beads.db-wal
  .beads/daemon.lock
  .beads/issues.jsonl
  .beads/last-touched
  .ralph-tui/session.json
Due: format

feat: ralph-tui-us005 - US-005: Global CLI opencode-teams
  .beads/beads.db
  .beads/daemon.lock
  .beads/issues.jsonl
  .beads/last-touched
  .ralph-tui/progress.md
  .ralph-tui/session-meta.json
  .ralph-tui/session.json
  package.json
  src/cli.ts
  src/operations/tmux.ts
  tests/tmux-operations.test.ts
Due: lint, format, type-check

feat: ralph-tui-us004 - US-004: Soft Blocking in Task Claiming
  .beads/beads.db
  .beads/beads.db-shm
  .beads/beads.db-wal
  .beads/daemon-error
  .beads/daemon.lock
  .beads/daemon.pid
  .beads/issues.jsonl
  .beads/last-touched
  .ralph-tui/progress.md
  .ralph-tui/session-meta.json
  .ralph-tui/session.json
  src/operations/task.ts
  src/types/index.ts
  tests/task-operations.test.ts
Due: lint, format, type-check

feat: ralph-tui-us006 - US-006: Real-time Tiled Visualization Layout
  .beads/beads.db-shm
  .beads/beads.db-wal
  .beads/issues.jsonl
  .beads/last-touched
  .ralph-tui/progress.md
  .ralph-tui/session-meta.json
  .ralph-tui/session.json
  src/cli.ts
  src/operations/tmux.ts
  src/types/index.ts
  src/utils/index.ts
  tests/tmux-operations.test.ts
Due: lint, format, type-check

feat: ralph-tui-us007 - US-007: Installation & Lifecycle Management
  .beads/beads.db-shm
  .beads/beads.db-wal
  .beads/issues.jsonl
  .beads/last-touched
  .ralph-tui/progress.md
  .ralph-tui/session-meta.json
  .ralph-tui/session.json
  package.json
  src/index.ts
  src/operations/team.ts
  src/types/index.ts
  tests/lifecycle.test.ts
Due: lint, format, type-check

feat: Phase 1 - Foundation & Data Integrity
  bun.lock
  docs/plan/.gitkeep
  docs/plan/CONSTRAINTS.md
  docs/plan/PHASES.md
  docs/plan/WORKFLOW.md
  package.json
  src/operations/task.ts
  src/operations/team.ts
  src/tools/index.ts
  src/types/index.ts
  src/types/schemas.ts
  src/utils/file-lock.ts
  src/utils/fs-atomic.ts
  src/utils/index.ts
  src/utils/storage-paths.ts
  tests/file-lock.test.ts
  tests/fs-atomic.test.ts
  tests/lifecycle.test.ts
  tests/poll-inbox.test.ts
  tests/storage-paths.test.ts
  tests/task-operations.test.ts
  tests/team-operations.test.ts
Due: lint, format, type-check

feat: add quality guard system with ls-lint, markdownlint-cli2, and tiered hooks
  .kittify/memory/constitution.md
  .ls-lint.yml
  .markdownlint-cli2.jsonc
  AGENTS.md
  README.md
  RELEASE.md
  agent/task-manager/AGENT.md
  agent/team-leader/AGENT.md
  agent/team-member/AGENT.md
  bun.lock
  docs/ARCHITECTURE.md
  docs/COMPARISON-ANALYSIS.md
  docs/DEVELOPMENT.md
  docs/INSTALL.md
  docs/OPENCODE-INTEGRATION-PLAN.md
  docs/QUICKSTART.md
  docs/RESEARCH.md
  docs/SUMMARY.md
  docs/plan/CONSTRAINTS.md
  docs/plan/PHASES.md
  docs/plan/WORKFLOW.md
  examples/deployment-team.md
  examples/refactoring-team.md
  lefthook.yml
  package.json
  skills/quality-guards/SKILL.md
  skills/team-coordination/SKILL.md
  tasks/prd-product-requirements-document-opencode-teams-plugin-v10.md
  workflows/code-review.md
Due: format

fix: align markdownlint emphasis style with prettier (underscore)
  .config/.markdownlint-cli2.jsonc
Due: none

refactor: replace prettier with biome for code formatting
  .config/.markdownlint-cli2.jsonc
  .kittify/memory/constitution.md
  .prettierrc
  AGENTS.md
  README.md
  biome.json
  bun.lock
  docs/COMPARISON-ANALYSIS.md
  docs/DEVELOPMENT.md
  eslint.config.js
  lefthook.yml
  package.json
  skills/quality-guards/SKILL.md
  src/index.ts
  src/operations/task.ts
  src/operations/team.ts
  src/operations/tmux.ts
  src/plugin-types.ts
  src/tools/index.ts
  src/tools/spawn-team.ts
  src/types/index.ts
  src/utils/file-lock.ts
  src/utils/fs-atomic.ts
  src/utils/index.ts
  src/utils/storage-paths.ts
  tests/file-lock.test.ts
  tests/fs-atomic.test.ts
  tests/lifecycle.test.ts
  tests/phase1-verification.test.ts
  tests/poll-inbox.test.ts
  tests/storage-paths.test.ts
  tests/task-operations.test.ts
  tests/team-operations.test.ts
  tests/tmux-operations.test.ts
  tests/utils.test.ts
Due: lint, format, type-check

Add plan for feature 001-robust-coordination-core
  kitty-specs/001-robust-coordination-core/plan.md
Due: format

docs: add implementation plan for 001-robust-coordination-core
  kitty-specs/001-robust-coordination-core/data-model.md
  kitty-specs/001-robust-coordination-core/plan.md
  kitty-specs/001-robust-coordination-core/quickstart.md
  kitty-specs/001-robust-coordination-core/research.md
Due: format

chore: add WP file naming pattern to ls-lint and commit planning artifacts for 001-robust-coordination-core
  .config/ls-lint.yml
  kitty-specs/001-robust-coordination-core/tasks.md
  kitty-specs/001-robust-coordination-core/tasks/WP01-structured-message-types.md
  kitty-specs/001-robust-coordination-core/tasks/WP02-bidirectional-dependencies.md
  kitty-specs/001-robust-coordination-core/tasks/WP03-status-transitions-cascade.md
  kitty-specs/001-robust-coordination-core/tasks/WP04-integration-stress-tests.md
Due: format

chore: ignore .worktrees directory in ls-lint
  .config/ls-lint.yml
  kitty-specs/001-robust-coordination-core/tasks/WP01-structured-message-types.md
Due: format

feat(WP01): add structured message types with typed shutdown coordination
  src/operations/team.ts
  src/types/index.ts
  src/types/schemas.ts
  tests/message-types.test.ts
Due: lint, format, type-check

chore: Move WP01 to for_review on spec 001 [Sisyphus]
  kitty-specs/001-robust-coordination-core/tasks/WP01-structured-message-types.md
Due: format

chore: WP02 claimed for implementation
  kitty-specs/001-robust-coordination-core/tasks/WP02-bidirectional-dependencies.md
Due: format

chore: Start WP02 implementation [Sisyphus]
  kitty-specs/001-robust-coordination-core/tasks/WP02-bidirectional-dependencies.md
Due: format

chore: Move WP02 to for_review on spec 001 [Sisyphus]
  kitty-specs/001-robust-coordination-core/tasks/WP02-bidirectional-dependencies.md
Due: format

chore: Start WP01 review [Sisyphus]
  kitty-specs/001-robust-coordination-core/tasks/WP01-structured-message-types.md
Due: format

chore: Start WP02 review [Sisyphus]
  kitty-specs/001-robust-coordination-core/tasks/WP02-bidirectional-dependencies.md
Due: format

chore: WP03 claimed for implementation
  kitty-specs/001-robust-coordination-core/tasks/WP03-status-transitions-cascade.md
Due: format

chore: Start WP03 implementation [Antigravity]
  kitty-specs/001-robust-coordination-core/tasks/WP03-status-transitions-cascade.md
Due: format

feat(WP02): add bidirectional dependencies with blocks field (FR-009)
  src/operations/task.ts
  src/types/schemas.ts
  tests/task-operations.test.ts
Due: lint, format, type-check

chore: Move WP02 to done on spec 001 [Sisyphus]
  kitty-specs/001-robust-coordination-core/tasks/WP02-bidirectional-dependencies.md
Due: format

chore: Move WP03 to for_review on spec 001 [Antigravity]
  kitty-specs/001-robust-coordination-core/tasks/WP03-status-transitions-cascade.md
Due: format

chore: Start WP03 review [Antigravity-Reviewer]
  kitty-specs/001-robust-coordination-core/tasks/WP03-status-transitions-cascade.md
Due: format

feat(WP03): enforce forward-only status transitions and cascade unblocking (FR-010, FR-011)
  src/operations/task.ts
  tests/cascade-unblock.test.ts
  tests/status-transitions.test.ts
  tests/task-operations.test.ts
Due: lint, format, type-check

chore: Move WP03 to done on spec 001 [Antigravity-Reviewer]
  kitty-specs/001-robust-coordination-core/tasks/WP03-status-transitions-cascade.md
Due: format

chore: Planning artifacts for 001-robust-coordination-core
  kitty-specs/001-robust-coordination-core/tasks/WP01-structured-message-types.md
Due: format

chore: WP04 claimed for implementation
  kitty-specs/001-robust-coordination-core/tasks/WP04-integration-stress-tests.md
Due: format

chore: Start WP04 implementation [Antigravity]
  kitty-specs/001-robust-coordination-core/tasks/WP04-integration-stress-tests.md
Due: format

chore: Move WP04 to for_review on spec 001 [Antigravity]
  kitty-specs/001-robust-coordination-core/tasks/WP04-integration-stress-tests.md
Due: format
