Repository rothnic/opencode-teams: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format, type-check, markdownlint

lint:
  run: bun run lint:fix
  stage_fixed: true

format:
  run: bun run format
  stage_fixed: true

type-check:
  run: bun run typecheck

markdownlint:
  run: "if bun run markdownlint 2>&1; then\n  exit 0\nfi\nbranch=$(git branch --show-current 2>/dev/null || echo \"unknown\")\nif [ \"$branch\" = \"main\" ] || [ \"$branch\" = \"master\" ]; then\n  printf '\\n\\e[33m  WARNING: Markdown issues found on %s.\\e[0m\\n' \"$branch\"\n  printf '  Strongly re
  ...

chore: WP04 claimed for implementation
  kitty-specs/005-event-driven-agent-dispatch/tasks/WP04-tooling-integration.md
Due: markdownlint

feat(WP04): add dispatch rule tools and E2E integration tests
  skills/team-coordination/SKILL.md
  src/index.ts
  src/operations/dispatch-rules.ts
  src/operations/index.ts
  tests/dispatch-rules.test.ts
Due: lint, format, type-check, markdownlint

chore: Move WP04 to for_review on spec 005 [Implementer]
  kitty-specs/005-event-driven-agent-dispatch/tasks/WP04-tooling-integration.md
Due: markdownlint

chore: Start WP04 review [Reviewer]
  kitty-specs/005-event-driven-agent-dispatch/tasks/WP04-tooling-integration.md
Due: markdownlint

chore: Move WP04 to planned on spec 005 [Reviewer]
  kitty-specs/005-event-driven-agent-dispatch/tasks/WP04-tooling-integration.md
Due: markdownlint

test(WP04): add E2E tests for assign_task, notify_leader, disabled rules, priority ordering
  tests/dispatch-rules.test.ts
Due: lint, format, type-check

chore: Move WP04 to done on spec 005 [Reviewer]
  kitty-specs/005-event-driven-agent-dispatch/tasks/WP04-tooling-integration.md
Due: markdownlint

feat: add dispatch event schemas and EventBus infrastructure (WP01)
  src/operations/event-bus.ts
  src/operations/index.ts
  src/operations/team.ts
  src/types/index.ts
  src/types/schemas.ts
  tests/dispatch-schemas.test.ts
  tests/event-bus.test.ts
Due: lint, format, type-check

feat: instrument task/agent operations with event emission (WP02)
  src/index.ts
  src/operations/agent.ts
  src/operations/task.ts
  tests/event-bus.test.ts
  tests/event-emission.test.ts
Due: lint, format, type-check

feat: add dispatch engine with condition evaluation and action execution (WP03)
  src/index.ts
  src/operations/dispatch-engine.ts
  src/operations/index.ts
  tests/dispatch-engine.test.ts
Due: lint, format, type-check

feat: add dispatch rule tools and E2E integration tests (WP04)
  skills/team-coordination/SKILL.md
  src/index.ts
  src/operations/dispatch-rules.ts
  src/operations/index.ts
  tests/dispatch-rules.test.ts
Due: lint, format, type-check, markdownlint

Add spec for feature 007-multi-agent-e2e-harness
  kitty-specs/007-multi-agent-e2e-harness/spec.md
Due: markdownlint

feat(testing): Implement E2E harness core infrastructure (WP01)
  src/testing/e2e-harness.ts
  src/testing/scenarios/types.ts
  tests/e2e-harness.test.ts
Due: lint, format, type-check

feat: implement WP03 test scenarios and coordination flow tests
  agent/e2e-builder/AGENT.md
  agent/e2e-planner/AGENT.md
  agent/e2e-reviewer/AGENT.md
  kitty-specs/003-cli-tmux-session-manager/contracts/.gitkeep
  kitty-specs/003-cli-tmux-session-manager/plan.md
  kitty-specs/003-cli-tmux-session-manager/tasks.md
  kitty-specs/003-cli-tmux-session-manager/tasks/WP01-cli-config-schema-types.md
  kitty-specs/003-cli-tmux-session-manager/tasks/WP02-session-manager-operations.md
  kitty-specs/003-cli-tmux-session-manager/tasks/WP03-cli-commands.md
  kitty-specs/003-cli-tmux-session-manager/tasks/WP04-dashboard-command.md
  kitty-specs/003-cli-tmux-session-manager/tasks/WP05-auto-cleanup-integration.md
  kitty-specs/003-cli-tmux-session-manager/tasks/WP06-tests.md
  kitty-specs/007-multi-agent-e2e-harness/checklists/requirements.md
  kitty-specs/007-multi-agent-e2e-harness/meta.json
  kitty-specs/007-multi-agent-e2e-harness/plan.md
  kitty-specs/007-multi-agent-e2e-harness/spec.md
  kitty-specs/007-multi-agent-e2e-harness/tasks.md
  kitty-specs/007-multi-agent-e2e-harness/tasks/.gitkeep
  kitty-specs/007-multi-agent-e2e-harness/tasks/README.md
  kitty-specs/007-multi-agent-e2e-harness/tasks/WP01-e2e-harness-core.md
  kitty-specs/007-multi-agent-e2e-harness/tasks/WP02-agent-role-templates.md
  kitty-specs/007-multi-agent-e2e-harness/tasks/WP03-test-scenarios.md
  kitty-specs/007-multi-agent-e2e-harness/tasks/WP04-recording-live-gating.md
  skills/team-coordination/SKILL.md
  src/operations/dispatch-engine.ts
  src/operations/dispatch-rules.ts
  src/testing/e2e-harness.ts
  src/testing/scenarios/complex-review-rework.ts
  src/testing/scenarios/simple-planner-builder.ts
  tests/dispatch-engine.test.ts
  tests/dispatch-rules.test.ts
  tests/dispatch-schemas.test.ts
  tests/e2e-live-agents.test.ts
  tests/e2e-multi-agent.test.ts
  tests/event-emission.test.ts
  tests/template-operations.test.ts
Due: lint, format, type-check, markdownlint

Path conditions:
  lint: any of: *.{js,ts}
  format: any of: *.{js,ts,json}
  type-check: any of: *.ts
  markdownlint: any of: *.md
