Repository rothnic/opencode-teams: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format, type-check, markdownlint

lint:
  run: bun run lint:fix
  stage_fixed: true

format:
  run: bun run format
  stage_fixed: true

type-check:
  run: bun run typecheck

markdownlint:
  run: "if bun run markdownlint 2>&1; then\n  exit 0\nfi\nbranch=$(git branch --show-current 2>/dev/null || echo \"unknown\")\nif [ \"$branch\" = \"main\" ] || [ \"$branch\" = \"master\" ]; then\n  printf '\\n\\e[33m  WARNING: Markdown issues found on %s.\\e[0m\\n' \"$branch\"\n  printf '  Strongly re
  ...

chore: Move WP09 to done on spec 002
  kitty-specs/002-agent-lifecycle-spawning/tasks/WP09-integration-tests.md
Due: markdownlint

feat(003): add CLI session manager with launch/attach/detach/status/dashboard commands
  src/cli.ts
  src/index.ts
  src/operations/index.ts
  src/operations/session-manager-cli.ts
  src/types/index.ts
  src/types/schemas.ts
  src/utils/index.ts
  src/utils/storage-paths.ts
Due: lint, format, type-check

test(003): add SessionManager and CLI session command tests
  tests/cli-session-commands.test.ts
  tests/session-manager-cli.test.ts
Due: lint, format, type-check

chore: add contracts directory for spec-kitty convention
  contracts/.gitkeep
Due: none

chore: update spec-kitty meta.json for feature 003 acceptance
  kitty-specs/003-cli-tmux-session-manager/meta.json
Due: format

fix: resolve lint errors in test files (__dirname, empty catch)
  tests/cli-session-commands.test.ts
  tests/session-manager-cli.test.ts
Due: lint, format, type-check

chore: fix spec-kitty feature states - add acceptance to 001/002, untrack 004-006
  kitty-specs/001-robust-coordination-core/meta.json
  kitty-specs/002-agent-lifecycle-spawning/meta.json
  kitty-specs/004-team-topologies-roles/checklists/requirements.md
  kitty-specs/004-team-topologies-roles/meta.json
  kitty-specs/004-team-topologies-roles/spec.md
  kitty-specs/004-team-topologies-roles/tasks/.gitkeep
  kitty-specs/004-team-topologies-roles/tasks/README.md
  kitty-specs/005-beads-integration/checklists/requirements.md
  kitty-specs/005-beads-integration/meta.json
  kitty-specs/005-beads-integration/spec.md
  kitty-specs/005-beads-integration/tasks/.gitkeep
  kitty-specs/005-beads-integration/tasks/README.md
  kitty-specs/006-event-driven-agent-dispatch/checklists/requirements.md
  kitty-specs/006-event-driven-agent-dispatch/meta.json
  kitty-specs/006-event-driven-agent-dispatch/spec.md
  kitty-specs/006-event-driven-agent-dispatch/tasks/.gitkeep
  kitty-specs/006-event-driven-agent-dispatch/tasks/README.md
Due: format, markdownlint

chore: restore 004-006 feature registration with correct NOT_STARTED state
  .config/ls-lint.yml
  .kitty-specs-backlog/004-team-topologies-roles/checklists/requirements.md
  .kitty-specs-backlog/004-team-topologies-roles/meta.json
  .kitty-specs-backlog/004-team-topologies-roles/spec.md
  .kitty-specs-backlog/004-team-topologies-roles/tasks/.gitkeep
  .kitty-specs-backlog/004-team-topologies-roles/tasks/README.md
  .kitty-specs-backlog/005-beads-integration/checklists/requirements.md
  .kitty-specs-backlog/005-beads-integration/meta.json
  .kitty-specs-backlog/005-beads-integration/spec.md
  .kitty-specs-backlog/005-beads-integration/tasks/.gitkeep
  .kitty-specs-backlog/005-beads-integration/tasks/README.md
  .kitty-specs-backlog/006-event-driven-agent-dispatch/checklists/requirements.md
  .kitty-specs-backlog/006-event-driven-agent-dispatch/meta.json
  .kitty-specs-backlog/006-event-driven-agent-dispatch/spec.md
  .kitty-specs-backlog/006-event-driven-agent-dispatch/tasks/.gitkeep
  .kitty-specs-backlog/006-event-driven-agent-dispatch/tasks/README.md
  kitty-specs/004-team-topologies-roles/meta.json
  kitty-specs/005-beads-integration/meta.json
  kitty-specs/006-event-driven-agent-dispatch/meta.json
Due: format, markdownlint

chore: reorder features - event-driven dispatch is now 005, beads integration (optional) is now 006
  .kitty-specs-backlog/005-event-driven-agent-dispatch/checklists/requirements.md
  .kitty-specs-backlog/005-event-driven-agent-dispatch/meta.json
  .kitty-specs-backlog/005-event-driven-agent-dispatch/spec.md
  .kitty-specs-backlog/005-event-driven-agent-dispatch/tasks/.gitkeep
  .kitty-specs-backlog/005-event-driven-agent-dispatch/tasks/README.md
  .kitty-specs-backlog/006-beads-integration/checklists/requirements.md
  .kitty-specs-backlog/006-beads-integration/meta.json
  .kitty-specs-backlog/006-beads-integration/spec.md
  .kitty-specs-backlog/006-beads-integration/tasks/.gitkeep
  .kitty-specs-backlog/006-beads-integration/tasks/README.md
  kitty-specs/005-beads-integration/meta.json
  kitty-specs/005-event-driven-agent-dispatch/meta.json
  kitty-specs/006-beads-integration/meta.json
Due: format, markdownlint

chore: add spec.md for feature 004 team-topologies-roles
  kitty-specs/004-team-topologies-roles/spec.md
Due: markdownlint

chore: add planning artifacts for feature 004 team-topologies-roles
  kitty-specs/004-team-topologies-roles/data-model.md
  kitty-specs/004-team-topologies-roles/plan.md
  kitty-specs/004-team-topologies-roles/quickstart.md
  kitty-specs/004-team-topologies-roles/research.md
Due: markdownlint

chore: add work packages for feature 004 team-topologies-roles
  kitty-specs/004-team-topologies-roles/tasks.md
  kitty-specs/004-team-topologies-roles/tasks/WP01-schema-extensions.md
  kitty-specs/004-team-topologies-roles/tasks/WP02-template-operations.md
  kitty-specs/004-team-topologies-roles/tasks/WP03-role-permission-system.md
  kitty-specs/004-team-topologies-roles/tasks/WP04-team-extensions.md
  kitty-specs/004-team-topologies-roles/tasks/WP05-workflow-monitor.md
  kitty-specs/004-team-topologies-roles/tasks/WP06-tool-integration.md
Due: markdownlint

feat(004): implement WP01 schema extensions
  src/types/index.ts
  src/types/schemas.ts
  src/utils/fs-atomic.ts
  src/utils/storage-paths.ts
  tests/schema-extensions.test.ts
Due: lint, format, type-check

feat: implement role permission system (WP03)
  src/operations/index.ts
  src/operations/role-permissions.ts
  src/operations/template.ts
  src/tools/index.ts
  tests/role-permissions.test.ts
  tests/template-operations.test.ts
Due: lint, format, type-check

feat(004): implement WP04-WP06 team extensions, workflow monitor, and tool integration
  skills/team-coordination/SKILL.md
  src/operations/index.ts
  src/operations/task.ts
  src/operations/team.ts
  src/operations/workflow-monitor.ts
  src/tools/index.ts
  tests/team-extensions.test.ts
  tests/workflow-monitor.test.ts
Due: lint, format, type-check, markdownlint

chore: add spec.md for feature 005 event-driven-agent-dispatch
  .gitignore
  kitty-specs/005-event-driven-agent-dispatch/spec.md
Due: markdownlint

chore: add planning artifacts for feature 005 event-driven-agent-dispatch
  kitty-specs/005-event-driven-agent-dispatch/plan.md
Due: markdownlint

chore: add work packages for feature 005 event-driven-agent-dispatch
  kitty-specs/005-event-driven-agent-dispatch/tasks.md
  kitty-specs/005-event-driven-agent-dispatch/tasks/WP01-infrastructure-data-model.md
  kitty-specs/005-event-driven-agent-dispatch/tasks/WP02-event-emission.md
  kitty-specs/005-event-driven-agent-dispatch/tasks/WP03-dispatch-engine-core.md
  kitty-specs/005-event-driven-agent-dispatch/tasks/WP04-tooling-integration.md
Due: markdownlint

chore: WP01 claimed for implementation
  kitty-specs/005-event-driven-agent-dispatch/tasks/WP01-infrastructure-data-model.md
Due: markdownlint

feat(WP01): add dispatch schemas and event bus infrastructure
  src/operations/event-bus.ts
  src/operations/index.ts
  src/operations/team.ts
  src/types/index.ts
  src/types/schemas.ts
  tests/dispatch-schemas.test.ts
  tests/event-bus.test.ts
Due: lint, format, type-check

chore: Move WP01 to for_review on spec 005
  kitty-specs/005-event-driven-agent-dispatch/tasks/WP01-infrastructure-data-model.md
Due: markdownlint

chore: Start WP01 review [Reviewer]
  kitty-specs/005-event-driven-agent-dispatch/tasks/WP01-infrastructure-data-model.md
Due: markdownlint

chore: WP02 claimed for implementation
  kitty-specs/005-event-driven-agent-dispatch/tasks/WP02-event-emission.md
Due: markdownlint

chore: Move WP01 to done on spec 005 [Reviewer]
  kitty-specs/005-event-driven-agent-dispatch/tasks/WP01-infrastructure-data-model.md
Due: markdownlint

chore: WP03 claimed for implementation
  kitty-specs/005-event-driven-agent-dispatch/tasks/WP03-dispatch-engine-core.md
Due: markdownlint

feat(WP03): implement dispatch engine with condition evaluation and action execution
  src/operations/dispatch-engine.ts
  src/operations/index.ts
  tests/dispatch-engine.test.ts
Due: lint, format, type-check

chore: Move WP03 to for_review on spec 005
  kitty-specs/005-event-driven-agent-dispatch/tasks/WP03-dispatch-engine-core.md
Due: markdownlint

chore: Move WP03 to planned on spec 005
  kitty-specs/005-event-driven-agent-dispatch/tasks/WP03-dispatch-engine-core.md
Due: markdownlint

fix(WP03): add initDispatchEngine call to plugin entry point
  src/index.ts
Due: lint, format, type-check

feat(WP02): instrument task and agent operations with event emission
  src/index.ts
  src/operations/agent.ts
  src/operations/task.ts
  tests/event-emission.test.ts
Due: lint, format, type-check

chore: Move WP02 to for_review on spec 005
  kitty-specs/005-event-driven-agent-dispatch/tasks/WP02-event-emission.md
Due: markdownlint

fix(WP02): avoid re-entrant locking in task.unblocked emission
  src/operations/task.ts
Due: lint, format, type-check

chore: Move WP03 to done on spec 005
  kitty-specs/005-event-driven-agent-dispatch/tasks/WP03-dispatch-engine-core.md
Due: markdownlint

chore: Move WP02 to planned on spec 005
  kitty-specs/005-event-driven-agent-dispatch/tasks/WP02-event-emission.md
Due: markdownlint

fix(WP02): clean up EventBus handlers between test files to prevent cross-file contamination
  tests/event-bus.test.ts
  tests/event-emission.test.ts
Due: lint, format, type-check

chore: Move WP02 to for_review on spec 005 [Implementer]
  kitty-specs/005-event-driven-agent-dispatch/tasks/WP02-event-emission.md
Due: markdownlint

chore: Start WP02 review [Reviewer]
  kitty-specs/005-event-driven-agent-dispatch/tasks/WP02-event-emission.md
Due: markdownlint

chore: Move WP02 to done on spec 005 [Reviewer]
  kitty-specs/005-event-driven-agent-dispatch/tasks/WP02-event-emission.md
Due: markdownlint

Path conditions:
  lint: any of: *.{js,ts}
  format: any of: *.{js,ts,json}
  type-check: any of: *.ts
  markdownlint: any of: *.md
