Repository rothnic/opencode-teams: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format, type-check, markdownlint

lint:
  run: bun run lint:fix
  stage_fixed: true

format:
  run: bun run format
  stage_fixed: true

type-check:
  run: bun run typecheck

markdownlint:
  run: "if bun run markdownlint 2>&1; then\n  exit 0\nfi\nbranch=$(git branch --show-current 2>/dev/null || echo \"unknown\")\nif [ \"$branch\" = \"main\" ] || [ \"$branch\" = \"master\" ]; then\n  printf '\\n\\e[33m  WARNING: Markdown issues found on %s.\\e[0m\\n' \"$branch\"\n  printf '  Strongly re
  ...

chore: Start WP04 review [Antigravity-Reviewer]
  kitty-specs/001-robust-coordination-core/tasks/WP04-integration-stress-tests.md
Due: markdownlint

feat(WP01): add structured message types with typed shutdown coordination
  src/operations/team.ts
  src/types/index.ts
  src/types/schemas.ts
  tests/message-types.test.ts
Due: lint, format, type-check

feat(WP02): add bidirectional dependencies with blocks field (FR-009)
  src/operations/task.ts
  src/types/schemas.ts
  tests/task-operations.test.ts
Due: lint, format, type-check

feat(WP04): add multi-process concurrency stress tests and P1-P4 e2e scenario tests
  tests/concurrency-stress.test.ts
  tests/e2e-scenarios.test.ts
Due: lint, format, type-check

feat(WP03): enforce forward-only status transitions and cascade unblocking (FR-010, FR-011)
  src/operations/task.ts
  tests/cascade-unblock.test.ts
  tests/status-transitions.test.ts
  tests/task-operations.test.ts
Due: lint, format, type-check

chore: Move WP04 to done on spec 001 [Antigravity-Reviewer]
  kitty-specs/001-robust-coordination-core/tasks/WP04-integration-stress-tests.md
Due: markdownlint

chore: add .kittify/workspaces to gitignore
  .gitignore
Due: none

Add plan for feature 002-agent-lifecycle-spawning
  kitty-specs/002-agent-lifecycle-spawning/plan.md
Due: markdownlint

chore: Planning artifacts for 002-agent-lifecycle-spawning
  kitty-specs/002-agent-lifecycle-spawning/contracts/get-agent-status.md
  kitty-specs/002-agent-lifecycle-spawning/contracts/heartbeat.md
  kitty-specs/002-agent-lifecycle-spawning/contracts/kill-agent.md
  kitty-specs/002-agent-lifecycle-spawning/contracts/spawn-agent.md
  kitty-specs/002-agent-lifecycle-spawning/data-model.md
  kitty-specs/002-agent-lifecycle-spawning/plan.md
  kitty-specs/002-agent-lifecycle-spawning/research.md
  kitty-specs/002-agent-lifecycle-spawning/tasks.md
  kitty-specs/002-agent-lifecycle-spawning/tasks/WP01-schemas-and-types.md
  kitty-specs/002-agent-lifecycle-spawning/tasks/WP02-storage-paths-and-color-pool.md
  kitty-specs/002-agent-lifecycle-spawning/tasks/WP03-server-manager.md
  kitty-specs/002-agent-lifecycle-spawning/tasks/WP04-tmux-operations.md
  kitty-specs/002-agent-lifecycle-spawning/tasks/WP05-agent-spawn.md
  kitty-specs/002-agent-lifecycle-spawning/tasks/WP06-agent-kill.md
  kitty-specs/002-agent-lifecycle-spawning/tasks/WP07-heartbeat-monitoring.md
  kitty-specs/002-agent-lifecycle-spawning/tasks/WP08-tool-definitions.md
  kitty-specs/002-agent-lifecycle-spawning/tasks/WP09-integration-tests.md
Due: markdownlint

chore: WP01 claimed for implementation
  kitty-specs/002-agent-lifecycle-spawning/tasks/WP01-schemas-and-types.md
Due: markdownlint

chore: WP02 claimed for implementation
  kitty-specs/002-agent-lifecycle-spawning/tasks/WP02-storage-paths-and-color-pool.md
Due: markdownlint

chore: WP04 claimed for implementation
  kitty-specs/002-agent-lifecycle-spawning/tasks/WP04-tmux-operations.md
Due: markdownlint

chore: Move WP01 to for_review on spec 002
  kitty-specs/002-agent-lifecycle-spawning/tasks/WP01-schemas-and-types.md
Due: markdownlint

feat(WP01): add agent lifecycle Zod schemas and type exports
  .gitignore
  src/types/index.ts
  src/types/schemas.ts
Due: lint, format, type-check

chore: Move WP01 to done on spec 002
  kitty-specs/002-agent-lifecycle-spawning/tasks/WP01-schemas-and-types.md
Due: markdownlint

feat(WP04): add tmux operations extensions for agent lifecycle
  src/operations/tmux.ts
  tests/tmux-operations-ext.test.ts
Due: lint, format, type-check

feat(WP02): add storage paths and color pool utilities
  src/utils/color-pool.ts
  src/utils/index.ts
  src/utils/storage-paths.ts
  tests/color-pool.test.ts
  tests/storage-paths-agent.test.ts
Due: lint, format, type-check

feat(WP03): add server manager operations for agent lifecycle
  bun.lock
  eslint.config.js
  package.json
  src/operations/index.ts
  src/operations/server-manager.ts
  src/operations/task.ts
  src/utils/index.ts
  tests/color-pool.test.ts
  tests/server-manager.test.ts
  tests/storage-paths-agent.test.ts
Due: lint, format, type-check

feat(WP05): add agent spawn operations with state management
  .gitignore
  eslint.config.js
  src/operations/agent.ts
  src/operations/index.ts
  tests/agent-operations.test.ts
Due: lint, format, type-check

feat(002): implement agent kill, heartbeat, tools, and integration tests (WP06-WP09)
  eslint.config.js
  src/index.ts
  src/operations/agent.ts
  src/operations/task.ts
  src/tools/index.ts
  tests/agent-heartbeat.test.ts
  tests/agent-kill.test.ts
  tests/agent-lifecycle.test.ts
Due: lint, format, type-check

chore: Move WP04 to for_review on spec 002
  kitty-specs/002-agent-lifecycle-spawning/tasks/WP04-tmux-operations.md
  tests/session-manager.test.ts
Due: lint, format, type-check, markdownlint

chore: Move WP02 to for_review on spec 002
  kitty-specs/002-agent-lifecycle-spawning/tasks/WP02-storage-paths-and-color-pool.md
Due: markdownlint

chore: Move WP02 to done on spec 002
  kitty-specs/002-agent-lifecycle-spawning/tasks/WP02-storage-paths-and-color-pool.md
  kitty-specs/002-agent-lifecycle-spawning/tasks/WP04-tmux-operations.md
Due: markdownlint

chore: Move WP03 to doing on spec 002
  kitty-specs/002-agent-lifecycle-spawning/tasks/WP03-server-manager.md
Due: markdownlint

chore: Move WP03 to for_review on spec 002
  kitty-specs/002-agent-lifecycle-spawning/tasks/WP03-server-manager.md
Due: markdownlint

chore: Move WP03 to done on spec 002
  kitty-specs/002-agent-lifecycle-spawning/tasks/WP03-server-manager.md
Due: markdownlint

chore: Move WP05 to doing on spec 002
  kitty-specs/002-agent-lifecycle-spawning/tasks/WP05-agent-spawn.md
Due: markdownlint

chore: Move WP05 to for_review on spec 002
  kitty-specs/002-agent-lifecycle-spawning/tasks/WP05-agent-spawn.md
Due: markdownlint

chore: Move WP05 to done on spec 002
  kitty-specs/002-agent-lifecycle-spawning/tasks/WP05-agent-spawn.md
Due: markdownlint

chore: Move WP06 to doing on spec 002
  kitty-specs/002-agent-lifecycle-spawning/tasks/WP06-agent-kill.md
Due: markdownlint

chore: Move WP06 to for_review on spec 002
  kitty-specs/002-agent-lifecycle-spawning/tasks/WP06-agent-kill.md
Due: markdownlint

chore: Move WP06 to done on spec 002
  kitty-specs/002-agent-lifecycle-spawning/tasks/WP06-agent-kill.md
Due: markdownlint

chore: Move WP07 to doing on spec 002
  kitty-specs/002-agent-lifecycle-spawning/tasks/WP07-heartbeat-monitoring.md
Due: markdownlint

chore: Move WP07 to for_review on spec 002
  kitty-specs/002-agent-lifecycle-spawning/tasks/WP07-heartbeat-monitoring.md
Due: markdownlint

chore: Move WP07 to done on spec 002
  kitty-specs/002-agent-lifecycle-spawning/tasks/WP07-heartbeat-monitoring.md
Due: markdownlint

chore: Move WP08 to doing on spec 002
  kitty-specs/002-agent-lifecycle-spawning/tasks/WP08-tool-definitions.md
Due: markdownlint

chore: Move WP08 to for_review on spec 002
  kitty-specs/002-agent-lifecycle-spawning/tasks/WP08-tool-definitions.md
Due: markdownlint

chore: Move WP08 to done on spec 002
  kitty-specs/002-agent-lifecycle-spawning/tasks/WP08-tool-definitions.md
Due: markdownlint

chore: Move WP09 to doing on spec 002
  kitty-specs/002-agent-lifecycle-spawning/tasks/WP09-integration-tests.md
Due: markdownlint

chore: Move WP09 to for_review on spec 002
  kitty-specs/002-agent-lifecycle-spawning/tasks/WP09-integration-tests.md
Due: markdownlint

Path conditions:
  lint: any of: *.{js,ts}
  format: any of: *.{js,ts,json}
  type-check: any of: *.ts
  markdownlint: any of: *.md
